<template name="leaderboard">
    <ol class="leaderboard">
        {{#sortable items = cities options = locationsSortableOptions}}
            {{> city}}
        {{/sortable}}
    </ol>

    <form class="new-location">
        <input type="text" name="text" id="textbox" placeholder="Enter Location name or Zipcode" />
        <button id="add">+</button>
    </form>

    <div class="submit">
        <button class="request">Find Optimal Route</button>
    </div>

    <!-- Initialize s-alert package.-->
    {{> sAlert}}

</template>